{% extends 'base.html' %}
{% load i18n utils %}
{% block container %}
    <h1>Profile - {{ profile.name }}</h1>
    <p>
        <a href="{% url 'profile:edit' profile.id %}" class="btn-sm btn-info">Edit</a>
        <a href="{% url 'tr:creator' profile.id %}" class="btn-sm btn-info">Create payment</a>
    </p>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <td>{{ profile.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ profile.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ profile.description|linebreaksbr }}</td>
                </tr>
                <tr>
                    <th>Token</th>
                    <td>{{ profile.token }}</td>
                </tr>
                <tr>
                    <th>xpub</th>
                    <td>
                        {% if request.user.account.priv_editable_xpubs %}
                            {{ profile.xpub }}
                        {% else %}
                            {{ profile.xpub|truncatechars:14 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Rate</th>
                    <td>1 BTC = {{ rate_btc_czk }} CZK</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Transactions</h2>
            <table class="table">
                <tr>
                    <th>Confirmed amount</th>
                    <td style="color: green;">{{ profile.get_confirmed_amount.btc }} BTC</td>
                    <td style="color: green;">{{ profile.get_confirmed_amount.czk }} CZK</td>
                </tr>
                <tr>
                    <th>Unconfirmed amount</th>
                    <td style="color: red;">{{ profile.get_unconfirmed_amount.btc }} BTC</td>
                    <td style="color: red;">{{ profile.get_unconfirmed_amount.czk }} CZK</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Amount (BTC)</th>
                    <th>Amount (CZK)</th>
                    <th>Timestamp</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for tr in profile.transaction_set.all %}
                    <tr style="color: {% if tr.state == tr.CONFIRMED %}green{% else %}red{% endif %};">
                        <td>{{ tr.id }}</td>
                        <td>{{ tr.amount_btc }} BTC</td>
                        <td>{{ tr.amount_czk }} CZK</td>
                        <td>{{ tr.timestamp|ymdhm }}</td>
                        <td><a target="_blank" href="https://blockchain.info/address/{{ tr.wallet }}">{{ tr.wallet }}</a></td>
                        <td><a target="_blank" href="{% url 'tr:payment_detail' tr.token %}" class="btn-sm btn-info">Payment page</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock container %}
